<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxbase.blog.server.essay.mapper.EssayCommentMapper">

    <resultMap id="BaseResultMap" type="com.qxbase.blog.data.entity.EssayComment">
        <id property="commentId" column="comment_id"/>
        <id property="userId" column="user_id"/>
        <id property="essayId" column="essay_id"/>
        <id property="content" column="content"/>
        <id property="like" column="like"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

    </resultMap>

</mapper>
