<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxbase.blog.server.essay.mapper.EssayInfoMapper">

    <resultMap id="BaseResultMap" type="com.qxbase.blog.data.entity.EssayInfo">
        <id property="essayId" column="essay_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="img" column="img" jdbcType="VARCHAR"/>
        <result property="subject" column="subject" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="readingQuantity" column="reading_quantity" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="releaseTime" column="release_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>

    </resultMap>

    <select id="pageOfAuthor"
            parameterType="com.baomidou.mybatisplus.core.metadata.IPage"
            resultType="com.qxbase.blog.data.vo.EssayInfoOutPutVo">
        select
            tei.essay_id as essayId,
            tei.user_id as userId,
            tu.user_name as userName,
            tei.img as img,
            tei.subject as subject,
            tei.content as content,
            tei.reading_quantity as readingQuantity,
            tei.type as type,
            tei.release_time as releaseTime,
            tei.create_time as createTime,
            tei.update_time as updateTime
        from t_essay_info tei
        left join t_user tu on tei.user_id = tu.user_id
            ${ew.customSqlSegment}
    </select>

</mapper>
